* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:#f0e7e1;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}
header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover; 
}


header {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  height: 80px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #1B3C53;
    height: 100px;
    width: 100%;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header h2 {
  font-size: 24px;
  font-weight: 600;
 color: whitesmoke;
}

nav a {
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;
  color: whitesmoke;
     transition: transform 0.5s ease 0.1s , color 0.5s ease 0.1s; 
    font-weight: 500; 

}

nav a:hover {
color: rgb(3, 150, 150);
   transform: scale(4.0); 

}

h1 {
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
  color: #1B3C53;
}

p {
  max-width: 900px;
  margin: 20px auto;
 background:  #456882;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1.2);
  font-size: 18px;
  font-weight: 600; 
  color: white;
}

footer {
text-align: center;
    margin-top: 40px;
    padding: 20px;
    background: #1B3C53;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    color: #f5f5f5;
}