* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f0e7e1;
    line-height: 1.6;
    padding: 20px;
}


header {
    width: 100%;
    background: #1B3C53;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    height: 100px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    display: inline;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover; 
}

header h2 {
   font-size: 24px;
  font-weight: 600;
  color: whitesmoke;
}

nav a {
    text-decoration: none;
  margin-left: 25px;
  font-size: 18px;
  color: whitesmoke;
     transition: transform 0.5s ease 0.1s , color 0.5s ease 0.1s; 
    font-weight: 500; 
}

nav a:hover {
color: rgb(3, 150, 150);
   transform: scale(4.0); 
}


.main {
    text-align: center;
    height: 180px;
    background: #fff;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    margin-top: 15px;
}

.main h1 {
    font-size: 36px;
color: #1B3C53;
    margin-bottom: 10px;
}

.main p {
    font-size: 18px;
    color: #555;
}


.sections {
    display: flex;
    justify-content: space-around; 
    height: 180px;
    gap: 20px;
    flex-wrap: wrap;
}

.sections section {
    flex: 1 1 30%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.sections section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.sections h3 {
    color: #ffcc00;
    font-size: 28px;
    margin-bottom: 10px;
}

.sections p {
    color: #555;
}


footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background: #1B3C53;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    color: #f5f5f5;
}


@media(max-width: 900px){
    .sections {
        flex-direction: column;
    }
    nav {
        margin-top: 10px;
    }
    nav a {
        margin-left: 0;
        margin-right: 15px;
    }
}
