* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0e7e1;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #1B3C53;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 100;
}

header img {
    display: inline;
}

header h2 {
    display: inline;
    font-size: 1.5rem;
    color: whitesmoke;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: rgb(3, 150, 150);
}


.main {
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.main h1 {
    font-size: 2.5rem;
    color: #1B3C53;
}

header img {
    width: 60px;      
    height: 60px;
    border-radius: 50%;
    object-fit: cover; 
}


.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px 50px;
}

.product-list section {
    border: 1px solid #1B3C53;
    background-color: #456882;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-list section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    color: aqua;
}

.product-list section img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-list section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

p{
    color: #333;
}



.product-list section h4 {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #6db9ef;
}

.product-list section input[type="button"] {
    background-color: #6db9ef;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-list section input[type="button"]:hover {
    background-color: #005fa3;
}

.product-list section button {
    background-color: #6db9ef;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

.product-list section button:hover {
    background-color: #005fa3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1B3C53;
    color: whitesmoke;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    margin-top: 40px;
}
